<head>
 
  <base href="">
</head>
<h4>US Weather App</h4>
<div class="container-fluid">

<div class="well">
  <h2>Enter a zipcode:</h2>
  <input class="form-control" [(ngModel)]="zipCode" placeholder="Zipcode" type="text" id="addLocation">
  <br>
  <button (click)="addZipCode()" class="btn btn-primary" id="addLocationBtn">
    Add location
  </button>
</div>


<div >
  <div class="well flex" *ngFor="let weatherData of weatherConditions">
      <div>
        <h3>{{ weatherData.nameCity }}</h3>
        <h4>{{ weatherData.mainWeatherDescription }}</h4>
        <h4>Temperatures today:</h4> {{ weatherData.temp }}
        <p>
           <br>
          - Max {{ weatherData.maxTemperature }} <br>
          - Min {{ weatherData.minTemperature }}
        </p>
        <p>
          <button (click)="navigateToForecast(weatherData.zipCode)">Go to 5-days Forecast</button>

        </p>
      </div>
      <div>
        <span class="close">×</span>
        <img *ngIf="weatherData.mainWeatherDescription !== ''" [src]="weatherIconUrl" alt="Weather Icon" style="width: 200px; height: 200px;">
      
      </div>
   </div>
  </div>